*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(to top, #3B78AD, #F0F8FF );
}

.nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.nav h1{
    color: rgb(0, 129, 241);
    padding: 20px;
}

#create-btn{
    cursor: pointer;
    transition: 0.3s;
}

.frm-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 

}

#flashcard-frm{
    display: none;
    flex-direction: column;
    border: 2px solid;
    width: 600px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
   
}

.div-btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

#save-and-close-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
    padding: 5px;
    background-color: aliceblue;
    color: rgba(59, 120, 173, 0.966);
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: rgba(59, 120, 173, 0.966);
    color: aliceblue;
    font-weight: 500;
}

h2{
    color: aliceblue;
}

.createdCards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.whole-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    
}

.card-container{
    perspective: 1000px;
    /* margin-bottom: 20px; */
  
}

.card{
    background-color:rgba(59, 120, 173, 0.966) ; 
    /* border: 1px solid;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px; 
    /* padding: 30px; */
    /* margin: 20px; */
    width: 600px; 
    height: 100px;
    position: relative;
    /* transition: 0.2s;  */
    transition: transform 0.5s;
    transform-style: preserve-3d; 
}

.card-front, .card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.card-front{
    background-color: rgb(219, 204, 204);
    color: blue;
}

.card-back{
    background-color: rgb(219, 204, 204);
    color: blue;
    transform: rotateY(180deg)
}

.card.flipped{
    transform: rotateY(180deg);
}

.card:hover {
    transform: scale(1.05); 
}



.toggle-btn:hover{
    background-color: rgba(59, 120, 173, 0.966);
    color: aliceblue;
    font-weight: 500;
} 

.tgl-del-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.tgl-del-btn button {
    padding: 10px 20px; 
    flex-grow: 0; 
}



.toggle-btn{
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 30px;
    text-align: center;
}

.delete-btn{
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 30px;
    text-align: center;
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

#filter-form{
    /* display: none; */
    flex-direction: column;
    border: 2px solid;
    width: 600px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    /* gap: 10px; */
}

#filter-form input {
    margin-bottom: 15px; 
}


#filter-btn{
    width: 600px;
    background-color: black;
    height: 50px;
    margin: 30px;
    margin-bottom: 0;
}

#apply-filter-btn{
    width: 500px;
    margin: 30px;
}